.dp-img-slide img {
    width: 60px;
    height: 60px;
    margin: 0 10px 10px 0;
}

.dp-img-slide {
    float: left;
}

.dp-imgShow img {
    width: 400px;
    height: 400px;
}

.dp-grid-slide {
    display: grid;
    margin: 10px 30px 10px 30px;
    grid-template-columns: 50% 50%;
}

/* grid right */

.dp-titleProduct {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 0 0;
}

.dp-price {
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 0 0;
}

.dp-star-reviews div {
    float: left;
    height: 25px;
}

.dp-star-reviews {
    display: block;
    height: 25px;
    margin: auto;
    margin-top: 10px;
}

.dp-star-reviews p {
    margin-top: 0;
    margin-left: 10px;
    margin-bottom: 0;
    position: relative;
    top: 10%;
}

.dp-numberProduct button {
    background-color: #336D51;
    border: 1px transparent solid;
    color: white;
    width: 30px;
    height: 30px;
    margin: 15px;
}

.dp-numberProduct p {
    font-weight: bold;
}

.dp-btn-product button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: #336D51 solid 1px;
    border-radius: 20px;
}

.dp-addtocart button {
    background-color: #336D51;
    color: white;
}

.dp-buynow button {
    background-color: white;
    color: #336D51;
}

/*relatedProducts  */

.dp-table-relatedProducts table {
    width: 100%;
    text-align: center;
}

.dp-table-relatedProducts td:nth-child(2) {
    color: #336D51;
    font-size: 25px;
}

.dp-table-relatedProducts hr {
    width: 400px;
    text-align: right;
    justify-content: right;
    border: #336D51 0.5px solid;
}

.dp-img-products .img {
    width: 100%;
    height: 350px;
    position: relative;
}

.dp-img-products {
    position: relative;
}

.dp-img-products .favor {
    position: absolute;
    top: 10px;
    left: 10px;
}

.dp-container-products {
    width: 300px;
}

.dp-container-slide-relatedProducts {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    margin: 10px 30px 10px 30px;
}

.dp-grid-slide-relatedProducts {
    display: grid;
    grid-template-columns: 33.33% 33.34% 33.33%;
    margin: 0 auto;
    grid-gap: 20px;
}

.db-btn-slide-relatedProducts.left {
    position: absolute;
    top: 50%;
    left: 50%;
}

.db-btn-slide-relatedProducts.right {
    position: absolute;
    top: 50%;
    right: 50%;
}

/* dp-grid-detailProducts */

.dp-grid-detailProducts {
    display: grid;
    grid-template-columns: 33.33% 33.4% 33.33%;
    text-align: center;
    margin: 10px 250px 10px 250px;
}

.dp-grid-detailProducts p {
    font-weight: bold;
}

.dp-info-detailProduct {
    background-color: #d8f0e4;
    margin: 0 30px 0 30px;
}

.dp-info-detailProduct pre {
    padding: 10px 30px 10px 30px;
}

.dp-morethan-detailProduct pre {
    display: none;
}

.dp-morethan-detailProduct a {
    display: flex;
    justify-content: right;
    margin: 10px 20px 20px 0;
    text-decoration: none;
    color: black;
    /* display: none; */
}

.dp-morethan-detailProduct a:hover {
    color: #336D51;
}

.dp-button-buynow-containerProducs {
    width: 100%;
    background-color: #336D51;
    color: white;
    border: #336D51 1px solid;
    border-radius: 20px;
    margin-top: 5px;
    padding: 5px 0 5px 0;
}

.dp-button-buynow-containerProducs:hover {
    background-color: white;
    color: #336D51;
}

/* reviews comment */

.dp-container-number-of-comment-1star {
    display: grid;
    grid-template-columns: 20% 80%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dp-category-comment-1star {
    display: flex;
    justify-content: center;
}

.dp-category-comment-1star p {
    float: left;
    margin: 0;
}

.dp-number-reviews-1star {
    position: relative;
    margin: 0 50px 0 10px;
}

.dp-number-reviews-1star.total-border {
    margin: 0;
    position: absolute;
    width: 100%;
    color: white;
    background-color: #D9D9D9;
    border-radius: 10px;
    font-size: 10px;
}

.dp-number-reviews-1star.border-star {
    margin: 0;
    color: #336D51;
    position: absolute;
    border-radius: 10px;
    background-color: #336D51;
    font-size: 10px;
}

.dp-number-reviews-1star.border-star.star5 {
    width: 80%;
}

.dp-number-reviews-1star.border-star.star4 {
    width: 60%;
}

.dp-number-reviews-1star.border-star.star3 {
    width: 80%;
}

.dp-number-reviews-1star.border-star.star2 {
    width: 40%;
}

.dp-number-reviews-1star.border-star.star1 {
    width: 20%;
}

/* comment */

.dp-container-comments.hr {
    width: 90%;
    border: 0.5px solid #608d77;
}

.dp-container-comments.container {
    display: grid;
    grid-template-columns: 10% 90%;
    margin: 10px 10px 10px 10px;
}

.dp-comment-img {
    text-align: right;
    margin-right: 5px;
}

.dp-comment-img img {
    width: 70px;
    border-radius: 50%;
}

.dp-comment-info.name-client, .dp-comment-info.reviews {
    margin: 0;
}
.dp-comment-info.name-client{
    font-weight: bold;
}


#anchor-top {
    color: #336D51;
    width: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
}
html {
    scroll-behavior: smooth;
  }